<grid 
  [dataSource]="dataSource" 
  [showSelection] = "showSelection"
  [showState] = "showState"
  [showFilters] = "showFilters"
  [columns]="columns"
  [filters]="filters"
  [actions]="actions"
  matSort
>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>Position</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.position }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>Name</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.name }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>Weight</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.weight }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>Symbol</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.symbol }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <grid-action *gridActionDef="let action; name 'add'; label: 'Add'; icon 'add';  strategy: 'grid'; handler: addAction; this: this"></grid-action>
  <grid-action *gridActionDef="let action; name 'calculate'; label: 'Calculate';  strategy: 'grid'; handler: calculateAction; enable: false, this: this"></grid-action>
  <grid-action *gridActionDef="let action; name 'view'; label: 'View'; icon 'pageview'; show: showForSingleRow; handler: viewAction; this: this"></grid-action>
  <grid-action *gridActionDef="let action; name 'edit'; label: 'Edit'; icon 'edit'; show: showForSingleRow; handler: editAction; this: this"></grid-action>
  <grid-action *gridActionDef="let action; name 'shuffle'; label: 'Shuffle'; icon 'shuffle'; strategy: 'more'; show: showForMultipleRows; handler: shuffleAction; this: this"></grid-action>
  <grid-action *gridActionDef="let action; name 'delete'; label: 'Delete'; icon 'delete'; handler: deleteAction; this: this"></grid-action>
  <!-- End Actions -->

  <!-- Filters -->
  <grid-filter *gridFilterDef="let filter; field 'position'; label 'Position'; this: this"></grid-filter>
  <grid-filter *gridFilterDef="let filter; field 'name'; label 'Name'; dialog: openTextFilterDialog; this: this"></grid-filter>
  <grid-filter *gridFilterDef="let filter; field 'weight'; label 'Weight'; this: this"></grid-filter>
  <grid-filter *gridFilterDef="let filter; field 'symbol'; label 'Symbol'; dialog: openSymbolFilterDialog; multiple: true; this: this"></grid-filter>
  <!-- End Filters -->

</grid>