<grid 
  [dataSource]="dataSource" 
  [showAdd] = "showAdd"
  [showPick] = "showPick"
  [showSelection] = "showSelection"
  [showState] = "showState"
  [showFilters] = "showFilters"
  [columns]="columns"
  [filters]="filters"
  [actions]="actions"
  (add)="addRow($event)"
  (pick)="pickRows($event)" 
  matSort
>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>item.position</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.position }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>item.name</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.name }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>item.weight</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.weight }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>item.symbol</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>
        {{ item.symbol }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <grid-action name="view" (handler)="viewAction($event)" [context]="viewActionContext"></grid-action>
  <grid-action name="delete" (handler)="confirmDelete($event)" [context]="deleteActionContext"></grid-action>
  <!-- End Actions -->

  <!-- Filters -->
  <grid-filter field="position" [context]="positionFilterContext"></grid-filter>
  <grid-filter field="name" [context]="nameFilterContext"></grid-filter>
  <grid-filter field="weight" [context]="weightFilterContext"></grid-filter>
  <grid-filter field="symbol" [context]="symbolFilterContext"></grid-filter>
  <!-- End Filters -->

</grid>